<div class="container text-center">
  <h2>Acerca de Nosotros</h2>
  <p>En <strong>Laboratorio Médico {{title}}</strong>, nos dedicamos a proporcionar servicios de análisis clínicos de alta calidad.</p>
  <p>Nuestro objetivo es ofrecer a nuestros pacientes resultados precisos y confiables, apoyados por un equipo de profesionales altamente capacitados y tecnología de punta.</p>
  <h3>Contacto</h3>
  <p>
    <strong>Dirección:</strong><br>
    General Pinto 1054<br>
    Tandil, CP 7000<br>
    Argentina
  </p>

  <p>
    <strong>Teléfono:</strong><br>
    +54 249 464 3113
  </p>

  <p>
    <strong>Correo Electrónico:</strong><br>
    <a href="mailto:nicosanchezfiadone@gmail.com">Contacto</a>
  </p>

  <p>
    <strong>Horario de Atención:</strong><br>
    Lunes a Viernes: 7:00 AM - 6:00 PM<br>
    Sábados: 8:00 AM - 2:00 PM
  </p>
</div>
